[submodule "themes/navigator"]
	path = themes/navigator
	url = https://github.com/terraplayz/navigator
[submodule "themes/navigator-cf"]
	path = themes/navigator-cf
	url = https://github.com/TerraPlayz/navigator-cf
